body {
    width: 1050px;
    margin: 0 auto;
    background-color: darkblue;
    position: relative;
}


/* Nav lateral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: aqua;
    z-index: 1;
}

main {
    width: 100%;
    overflow: auto;
}

img {
    width: 100%;
}


/* main::-webkit-scrollbar {
    background-color: aquamarine;
}

main::-webkit-scrollbar-thumb {
    background-color: blue;
} */

#nav-latteral {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: aqua;
    z-index: 3;
    height: 100%;
    width: max-content;
    transition: all 0.1s ease;
}

#nav-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    opacity: .6;
    z-index: 2;
    display: none;
}

#nav-wrapper.active {
    display: block;
}

#nav-close {
    margin-bottom: 50px;
}

.nav-links {
    padding: 10px 45px 10px 15px;
}

a {
    text-decoration: none;
}

a:hover {
    color: orange;
}

.nav-link {
    cursor: pointer;
    font-size: 20px;
    color: darkblue;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    color: orange;
}

.nav-link ion-icon {
    margin-right: 15px;
}

.nav-link,
.nav-button {
    transition: all 0.2s ease;
}

.nav-button {
    font-size: 40px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: bisque;
    color: orange;
}


/* header */

h1,
h2,
h3 {
    padding: 15px;
}

.header {
    background-color: blue;
    text-align: center;
    color: lightyellow;
    padding: 15px;
    margin-top: 50px;
}

.button {
    background-color: azure;
    color: blue;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    padding: 5px 12px;
    border-radius: 4px;
}

.button:hover,
.flip:hover {
    background-color: orange;
    color: darkblue;
}

.book-title {
    color: lightyellow;
    text-align: center;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.notes {
    background-color: lightyellow;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.week-flip {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flip {
    background-color: aqua;
    font-size: large;
    text-decoration: none;
    padding: 5px;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

p {
    text-indent: 40px;
}

.subtitle {
    font-weight: normal;
    background-color: lightgreen;
    font-size: x-large;
    padding: 5px 10px;
}

.reference {
    font-size: large;
}

i,
.example {
    background-color: teal;
    color: white;
}

.example {
    padding: 5px 0px 5px 40px;
}

h4 {
    background-color: lightblue;
    font-size: large;
    font-weight: normal;
    padding-left: 40px;
    color: darkblue;
    padding: 5px auto;
}

.sidebar {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.code {
    padding-bottom: 15px;
}

.practice {
    padding-top: 10px;
}

.footer {
    color: lightyellow;
    text-align: center;
    margin-bottom: 20px;
}

.dropdown {
    position: relative;
    width: 100%;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 120%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 2px solid #F20209;
    padding: 15px 40px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-cont-title {
    text-align: center;
}

.warning {
    background-color: red;
    color: white;
    border: 2px solid #F20209;
    padding: 8px;
}

.protocol {
    border: solid 1px blue;
    border-radius: 20px;
    background-color: aqua;
}

.protocol-title {
    background-color: blue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    padding: 10px 10px 10px 40px;
    margin: 0;
}

.protocol-contain {
    padding: 10px 40px;
}


/* Ressources */

.ressources {
    background-color: lightblue;
    padding: 5px;
    padding-bottom: 20px;
    text-align: center;
}

.references {
    display: flex;
    justify-content: space-evenly;
}

q {
    color: blue;
}