body {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    background-color: darkblue;
    position: relative;
}


/* Nav lateral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: aqua;
    z-index: 1;
}

main {
    width: 100%;
    overflow: auto;
}

img {
    width: 100%;
}


/* main::-webkit-scrollbar {
    background-color: aquamarine;
}

main::-webkit-scrollbar-thumb {
    background-color: blue;
} */

#nav-latteral {
    height: 100vh;
    width: max-content;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: aqua;
    z-index: 3;
    transition: all 0.1s ease;
}

#nav-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    opacity: .6;
    z-index: 2;
    display: none;
}

#nav-wrapper.active {
    display: block;
}

#nav-close {
    margin-bottom: 50px;
}

.nav-links {
    padding: 10px 45px 10px 15px;
}

a {
    text-decoration: none;
}

a:hover {
    color: orange;
}

.nav-link {
    cursor: pointer;
    font-size: 20px;
    color: darkblue;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    color: orange;
}

.nav-link ion-icon {
    margin-right: 15px;
}

.nav-link,
.nav-button {
    transition: all 0.2s ease;
}

.nav-button {
    color: darkblue;
    font-size: 50px;
    cursor: pointer;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: bisque;
    color: orange;
}


/* header */

h1,
h2,
h3 {
    padding: 15px;
}

h4 {
    padding: 10px;
}

.header {
    background-color: blue;
    text-align: center;
    color: lightyellow;
    padding: 15px;
    margin-top: 50px;
}

.display_week {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr;
    column-gap: 5px;
    row-gap: 5px;
    margin: 20px auto;
}

.week_title,
.description_title {
    display: flex;
    justify-content: center;
    border: solid 2px blue;
}

.button-container {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: darkblue;
    padding-bottom: 10px;
}

.button {
    background-color: azure;
    color: blue;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 12px;
    border-radius: 4px;
}

.button:hover {
    background-color: orange;
    color: darkblue;
}

.button_title {
    font-size: xx-large;
    margin: 15px;
}

.description,
.description_title {
    background-color: lightyellow;
    padding-left: 15px;
    border: solid 2px blue;
}

.week_title {
    background-color: lightgreen;
}


/* Footer */

.ressources {
    background-color: lightblue;
    padding: 5px;
    padding-bottom: 20px;
    text-align: center;
}

.ressources h2 {
    color: darkblue;
}

.references {
    display: flex;
    justify-content: space-evenly;
}

q {
    color: blue;
}

.footer {
    color: lightyellow;
    text-align: center;
    margin-bottom: 20px;
}