body {
    width: 1200px;
    margin: 0 auto;
    background-color: darkblue;
}


/*========================================= Header ======================================= */

.header {
    background-color: blue;
    text-align: center;
    color: lightyellow;
    padding: 15px;
}

.navigation {
    text-align: right;
}

.button {
    background-color: azure;
    color: blue;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 12px;
    border-radius: 4px;
}

.btnWeek:hover,
.button:hover {
    background-color: orange;
}


/* ===================================== Central part ======================================= */

.weekButtons {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    justify-content: space-evenly;
}

.btnWeek {
    background-color: aqua;
    color: darkblue;
    width: 180px;
    font-size: x-large;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 4px;
    padding: 15px;
    margin: 10px;
}


/* ======================================= Footer ============================================ */

.ressources {
    background-color: lightblue;
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.references {
    display: flex;
    justify-content: space-evenly;
}

q {
    color: blue;
}

.footer {
    color: lightyellow;
    text-align: center;
}