body {
    width: 1200px;
    margin: 0 auto;
    background-color: lightyellow;
}

.header {
    background-color: blue;
    text-align: center;
    color: lightyellow;
    padding: 15px;
}

.navigation {
    text-align: right;
}

.display_week {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr;
    column-gap: 5px;
    row-gap: 5px;
    margin: 20px auto;
}

.week_title,
.description_title {
    display: flex;
    justify-content: center;
    border: solid 2px blue;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: lightyellow;
    /* justify-content: center; */
    background-color: blue;
}

.button {
    background-color: azure;
    color: blue;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 12px;
    border-radius: 4px;
}

.description {
    padding-left: 15px;
    border: solid 2px blue;
}