body {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    background-color: darkblue;
    /* overflow: hidden; */
    position: relative;
}


/* Nav lateral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: aqua;
    z-index: 1;
}

main {
    width: 100%;
    overflow: auto;
}

img {
    width: 100%;
}


/* main::-webkit-scrollbar {
    background-color: aquamarine;
}

main::-webkit-scrollbar-thumb {
    background-color: blue;
} */

#nav-latteral {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: aqua;
    z-index: 3;
    height: 100%;
    width: max-content;
    transition: all 0.1s ease;
}

#nav-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    opacity: .6;
    z-index: 2;
    display: none;
}

#nav-wrapper.active {
    display: block;
}

#nav-close {
    margin-bottom: 50px;
}

.nav-links {
    padding: 10px 45px 10px 15px;
}

a {
    text-decoration: none;
}

a:hover {
    color: orange;
}

.nav-link {
    cursor: pointer;
    font-size: 20px;
    color: darkblue;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    color: orange;
}

.nav-link ion-icon {
    margin-right: 15px;
}

.nav-link,
.nav-button {
    transition: all 0.2s ease;
}

.nav-button {
    font-size: 40px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: bisque;
    color: orange;
}


/*========================================= Header ======================================= */

h1,
h2,
h3 {
    padding: 15px;
}

.header {
    background-color: blue;
    text-align: center;
    color: lightyellow;
    padding: 15px;
    margin-top: 50px;
}

.button {
    background-color: azure;
    color: blue;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 12px;
    border-radius: 4px;
}

.btnWeek:hover,
.button:hover {
    background-color: orange;
    color: darkblue;
}


/* ===================================== Central part ======================================= */

.weekButtons {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    justify-content: space-evenly;
}

.btnWeek {
    background-color: aqua;
    color: darkblue;
    width: 180px;
    font-size: x-large;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 4px;
    padding: 15px;
    margin: 10px;
}


/* ======================================= Footer ============================================ */

.ressources {
    background-color: lightblue;
    padding: 5px;
    padding-bottom: 20px;
    text-align: center;
}

.references {
    display: flex;
    justify-content: space-evenly;
}

q {
    color: blue;
}

.footer {
    color: lightyellow;
    text-align: center;
    margin-bottom: 20px;
}