body {
    width: 1050px;
    margin: 0 auto;
    background-color: darkblue;
}

.header {
    background-color: blue;
    text-align: center;
    color: lightyellow;
    padding: 15px;
}

h2 a {
    color: white;
}

.navigation {
    text-align: right;
}

.button {
    background-color: azure;
    color: blue;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 12px;
    border-radius: 4px;
}

.personal_project {
    margin: 0 auto;
    margin-top: 20px;
    width: 1050px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.project {
    background-color: blue;
    border: solid 2px blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

img {
    width: 250px;
    height: 250px;
    border: solid 1px blue;
}

.subtitle {
    background-color: blue;
    color: lightyellow;
    text-align: center;
}

.footer {
    color: lightyellow;
    text-align: center;
}