.arrow-group {
    width: 700px;
    min-width: 700px;
    display: flex;
    margin: auto;
}

.slide {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
}

 ::-webkit-scrollbar {
    display: none;
}

.img-svg1,
.img-svg2 {
    width: 20px;
    height: 20px;
}

.card {
    width: 200px;
    min-width: 200px;
    height: 200px;
    min-height: 200px;
    border: 1px solid whitesmoke;
    transition-duration: 1000ms;
    margin: 5px;
    z-index: 1;
}

.card1 {
    background-image: url(img01jpg);
    background-size: cover;
}

.card2 {
    background-image: url(img02jpg);
    background-size: cover;
}

.card3 {
    background-image: url(img03jpg);
    background-size: cover;
}

.card4 {
    background-image: url(img04jpg);
    background-size: cover;
}

.card5 {
    background-image: url(img05jpg);
    background-size: cover;
}

.card6 {
    background-image: url(img06jpg);
    background-size: cover;
}

.card7 {
    background-image: url(img07jpg);
    background-size: cover;
}

.card8 {
    background-image: url(img08jpg);
    background-size: cover;
}