body {
    background-color: darkblue;
}

.main {
    background-color: darkblue;
    min-height: 100vh;
    font-family: "helvetica", sans-serif;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 3rem;
}

.text {
    background-color: lightyellow;
    margin: 0;
    padding: 20px;
}

#target {
    display: flex;
    /* margin-left: 1rem; */
    position: relative;
}

#target::after {
    content: "";
    position: absolute;
    height: 3rem;
    width: 5px;
    background: black;
    top: 0;
    transform: translateY(-4px);
    right: -5px;
    animation: anim 0.8s linear infinite;
}

@keyframes anim {
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}